body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgba(23, 23, 32, alpha);
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
    color:#fff8f0;
}
h2{
    font-size: 3vw;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 15px;
}
#title{
    font-size: 3vw;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    margin-top: 5%;
}
#image{
    width: 50%;
    border-radius: 15px;
    border: 1px solid #92140c;
}
.carPhoto{
    display: flex;
    justify-content: center;
}
#description{
    font-size: 2vw;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: large;
    margin-bottom: 50px;
}
#book{
    border: 1px solid #92140c;
    background-color:#464646;
    color: white;
    height: 50px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 100px;
    transition: 0.5s;
}
#book:hover{
    transition: 0.5s;
    transform:scale(1.1);
}
.specs{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
#price{
    font-size: 3vw;
    color: #92140c;
    padding-left: 80px;
}
strong{
    color: #92140c;
}
table{
    border: 1px solid #92140c;
    text-align: center;
}
td, th, tr, table{
    border: 1px solid #92140c;
    border-collapse: collapse;
}
td{
    padding: 2%;
}
a{
    text-decoration: none;
    color: #fff8f0;
}