body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%; 
    background-image: url(../media/photos/loginpagebackground.jpg);
    background-size: cover;
}
#calendar{
    background-color: rgba(32, 32, 32, 0.9);
    height: 55%;
    width: 27%;
    color: white;
    border-radius: 15px;
    padding: 20px;
}
h1, form{
    text-align: center;
}
#from{
    font-size: 2.5vw;
}
#submit{
    margin-top: 12px;
    padding: 2%;
    border: 1px;
    border-radius: 15px;
    font-size: 100%;
}
#submit:hover{
    background-color: cornflowerblue;
}
#to{
    margin-top: 18px;
    margin-bottom: 2px;
    font-size: 2.5vw;
}
#from{
    margin-bottom: 2px;
}
hr{
    margin-left: 10%;
    margin-right: 10%;
}
#date{
    width: 65%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 185%;
    border: 1px;
    border-radius: 10px;
}