footer {
    margin-top: 2%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
}

footer nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer nav a:hover {
    text-decoration: underline;
}
#logoFacebook {
    width: 55px;
    height: auto;

}
#logoInstagram {
    width: 40px;
    height: auto;
    padding-bottom: 4px;

}