footer{
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #333;
    height: auto;
}
#footLogo{
    width: 20%;
    height: auto;
    margin-bottom: 2%;
}
#cop{
    width: auto;
}
#footPay{
    width: 20%;
    height: auto;
}
#mediaLogo{
    width: 5%;
    height: auto;
    margin-bottom: 2%;
}
#left{
    float: left;
    align-items: center;
}
#right{
    justify-content: center;
    margin-right: 10%;
}
#more{
    margin-left: 30%;
    margin-right: 20%;
}
#follow{
    margin-right: 30%;
}


