body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:#1e1e24;
  margin: 0;
}
/* Header styles */
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  background-color: #92140c;
  color: white;
  padding: 0 20px;
  height: 60px;
  width: 100%;
  margin-bottom: 0.5px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  font-size: 1.3vw;
}
li{
  list-style: none;
  transition: all 0.4s;
}
li:hover{
  transform: scale(1.1);
}
ul, li{
  display: flex;
  padding: 100%;
  padding: 2.3% 10px;
}
nav, ul, li, a{
  display: flex;
  justify-content: center;
  
}
nav, ul, li, #nav{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#nav{
  text-decoration: none;
  color: white;
  float: right;
  
}
nav{
  padding-right: 10px;
}
#logo{
  display: flex;
  justify-content: left;
  height: 100px;
}
#li:hover{
    background-color: #fff8f0;
    transition: 0,5s;
    #nav{
      color:#1e1e24;
      transition: 0,5s;;
    }
    
    
    
}
.sticky{
  position: sticky;
  top: 0;
}
footer{
  background-color: #333;
  border-radius: 2%;
  height: 100px;
  left: -1px;
  right: -1px;
  margin-bottom: -1%;
  color: white;
  
}
#profileImage{
  display: flex;
  justify-content: left;
  height: 38px;
  align-items: center;
} 