body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
/* Header styles */
header{
  background-color: black;
  color: white;
  padding: 20px;
  margin: -9px 0;
  margin-left: -8px;
  margin-right: -8px;
}
#nav{
  text-decoration: none;
  color: white;
  float: right;
  margin-right: 2%;
  vertical-align: middle;
}
#nav:hover{
  border-top-color: 1px solid black;
  border: 1px solid;
  border-bottom-color: darkgoldenrod;
  padding-bottom: 1%;
  
}