body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('car2.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(/media/cars/car2.webp);
  }

  .login-container {
    background: rgb(224, 221, 221);
    padding: 60px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    opacity: 95%;
  } 
  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .login-container input, .login-container input {
    width: 100%;
    padding: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: -20px;
    border: 2px solid #ccc;
    border-radius: 20px;
  }

  .login-container button {
    
    width: 100%;
    padding: 15px;
    background-color: #32516e98;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    
  }

  .login-container button:hover {
    background-color: #1b61bd;
  }
  #email, #password {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
  }