.main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    margin-top: 50%;
    border: 1px solid rgba(23, 23, 32, alpha);
    border-radius: 5%;
    background-color: #1e1e24;
    color:#fff8f0;
    right: 0;
    padding: 0;
a{
    text-decoration: none;
    color: #333;
}
}
#guide{
    margin-top: 4%;
    padding: 2%;
}
#aboutUs{
    font-weight: 800;
    font-style:italic;
    font-size: 3vw;
}
#art{
    padding-left:5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: large;
}
#team{
    padding-left: 5%;
    padding-top: 1% ;
}
#cards{
    margin-top: 7%;
    margin-bottom: 10%;
}
#cars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;

    

}
#carCard{
    border: 2px solid #92140c;
    background-color: #1e1e24;
    color: #fff8f0;
    border-radius: 15px;
    height: auto;
    width: auto;
    text-align: center;
    transition: all 0.4s;

}
#carCard:hover{
    transform: scale(1.1);
}
#car1{
    height: 200px;
    width: auto;
    top: 0;
    border-radius: 15px;
    margin: 0px;
    
}
#emblem{
    height: 30px;
    width: auto;
    margin: 0px;
    padding-right: 2px;
}
#emblem1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
#view{
    border-radius: 15px;
    border: 1px solid rgb(105, 105, 105);
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 4px;
}
#view:hover{
    transition: 0.5s;
    background-color: cornflowerblue;
}
.tipBox{
    border: 1px solid grey;
    border-radius: 15px;
    padding: 2%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: rgba(220, 218, 218, 0.874);
    display: block;
    height: 100px;
    overflow: hidden;
    transition: 0.8s ;
    
}
.tipBox:hover{
    transition: 0.8s;
    height: 540px;
    
}
#tip{
    margin-top: 5%;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    gap: 10px;
    margin-top: 5%;
}