.main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    margin-top: 50%;
    border: 1px solid rgba(23, 23, 32, alpha);
    border-radius: 5%;
    background-color: whitesmoke;
    right: 0;
    padding: 0;
}
#guide{
    margin-top: 4%;
    padding: 2%;
}
#aboutUs{
    font-weight: 800;
    font-style:italic;
    font-size: 3vw;
}
#art{
    padding-left:5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: large;
}
#team{
    padding-left: 5%;
    padding-top: 1% ;
}
#cards{
    margin-top: 7%;
    margin-bottom: 10%;
}
#cars{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;

    

}
#carCard{
    border: 2px solid rgb(105, 105, 105);
    border-radius: 15px;
    height: auto;
    width: auto;
    text-align: center;
    transition: all 0.4s;

}
#carCard:hover{
    transform: scale(1.1);
}
#car1{
    height: 200px;
    width: auto;
    top: 0;
    border-radius: 15px;
    margin: 0px;
    
}
#emblem{
    height: 30px;
    width: auto;
    margin: 0px;
    padding-right: 2px;
}
#emblem1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 0%;
}